<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>知途趣闻.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6932A9851FA0893F000283CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6932A99E1FA08940000283CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6932A9A91FA08941000283CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
